:root {
  --dark-blue: #2B283A;
  --light-pink: #F55A5A;
  --light-gray: #918E9B;
  --white-v1: #FFFFFF;
  --white-v2: #F5F5F5;
  --white-v3: #F5F7FB;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--white-v1);
}

/* Start of Header */ 

.header {
  width: 100%;
  height: 55px;
  background-color: var(--light-pink);
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.header--icon {
  height: 24px;
}

.header--title {
  font-weight: 500;
  font-size: 14.4608px;
  letter-spacing: -0.075em;
  color: var(--white-v1)
}

/* End of Header */

/* Start of Main */
.card-list {
  display: flex;
  flex-direction: column;
}

.card {
  width: 470px;
  height: 200px;
  margin: 18px auto 18px auto;
  display: flex;
  color: var(--dark-blue);
}

.card--left {
  width: 100%;
}

.card--left--coverImg {
  height: 100%;
  border-radius: 5px;
}

.card--right {
  padding: 19px;
}

.card--right--icon {
  width: 7px;
  margin-right: 4px;
}

.card--right--country {
  font-weight: 400;
  font-size: 10.24px;
  letter-spacing: 0.17em;
  margin-right: 12px;
}

.card--right--googleMaps {
  font-weight: 400;
  font-size: 10.24px;
  text-decoration-line: underline;
  color: var(--light-gray);
}

.card--right--title {
  margin: 7px 0;
  font-weight: 700;
  font-size: 25px;
}

.card--right--date {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 10.24px;
}

.card--right-desc {
  font-weight: 400;
  font-size: 10px;
}

/* End of Main */